<!-- Cookie Consent Bar -->
<div id="cookieBar" class="position-fixed bottom-0 start-0 end-0 bg-dark text-white text-center py-2 shadow" style="z-index: 1055; display: none;">
  <span class="small">This site uses cookies to enhance your experience.</span>
  <button class="btn btn-sm btn-light ms-3" id="acceptCookies">Accept</button>
</div>
