<!-- Offcanvas Search Sidebar -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="searchSidebar" aria-labelledby="searchSidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="searchSidebarLabel">Search</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <input type="text" class="form-control mb-3" placeholder="Search tools..." id="searchInput">

    <ul class="list-group" id="searchResults">
      <li class="list-group-item"><a href="/tools/sla-calculator">SLA Calculator</a></li>
      <li class="list-group-item"><a href="/tools/password-generator">Password Generator</a></li>
      <li class="list-group-item"><a href="/tools/ip-lookup">IP Lookup</a></li>
      <!-- Add more links dynamically if needed -->
    </ul>
  </div>
</div>
